---
layout: bootcamp
root: .
venue: Instructor Training
address: HUB 332, University of Washington, Seattle
country: USA
humandate: November 12-14, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-11-12
enddate: 2014-11-14
latlng: 47.6553433,-122.3051293
registration: open
instructor: ["Greg Wilson", "Tracy Teal", "Warren Code", "Bill Mills"]
contact: bmarwick@uw.edu
eventbrite: 
---
<h2>General Information</h2>

<p>
During 12-14 Nov we will be running an on-campus Instructor Training Workshop for people at UW interested in conducting Software Carpentry bootcamps. Our goal is to train local instructors so that we can regularly offer bootcamps on campus to new faculty, staff and students. The workshop covers the basics of educational psychology and instructional design, and looks at how researchers can use these ideas to teach other researchers how to use software for data analysis.
</p>

<p>
<a href="http://software-carpentry.org">Software Carpentry</a> is a volunteer organization whose goal is to make researchers more productive, and their work more reliable, by teaching them basic computing skills using free
and open source tools. A bootcamp is an intensive hands-on workshop, run by volunteers and typically two days long, that covers core computational skills needed to be productive as a researcher. Greg Wilson, the founder
of Software Carpentry, will be visiting UW to conduct this workshop.
</p>

<p>
We are inviting participants from all across campus, especially those that use computers to analyse data but don't traditionally identify as computationally intensive (eg. social sciences & humanities). We invite diverse groups of 2-4 people from any UW campus unit (departments, labs, centers, libraries, etc. your group may span more than one unit) who are willing to commit to running a campus bootcamp together after they complete the training. We especially welcome graduate students, post-docs, staff and adjunct faculty to participate.
</p>

<p>
Participants do not need to be expert programmers - in fact, Software Carpentry strongly prefers instructors who are only two steps ahead of their learners and can still remember what it's like to be a novice - but we do expect an enthusiasm for learning and teaching sustainable software skills. For successful applicants all costs of attending the Instructor Training Workshop will be covered by the <a href="http://escience.washington.edu/">UW eScience Institute</a> and we will follow up to assist with organising the bootcamps. For more information on why you might want to be a Software Carpentry instructor, see <a href="http://software-carpentry.org/faq.html#why-become-an-instructor">Why become an instructor?</a>
</p>

<p>
Submit your application for the Instructor Training Workshop
at <a href="https://catalyst.uw.edu/webq/survey/bmarwick/245006">this WebQ (one application per person)</a>. Please submit your application by 12 October 2014.
</p>

<h2>Notes</h2>

<p>Please use <a href="https://etherpad.mozilla.org/swc-teaching-uw">this Etherpad</a>
and the <a href="https://twitter.com/search?q=%23swct3uw">#swct3uw</a> hashtag on Twitter during class. We have a <a href="http://lists.software-carpentry.org/mailman/listinfo/seattle_lists.software-carpentry.org">UW Software Carpentry email list</a> that you can join to keep up with local plans, and use to call for helpers for your events, get advice, ask questions, etc. after the workshop is over.</p>

{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<p>
  <strong>Who:</strong>
  This workshop is aimed at anyone who is interested in teaching Software Carpentry
  (or teaching programming to adults in general).
</p>

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="http://www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="http://maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<p>
  <strong>Requirements:</strong>
  Please get a copy of <em><a href="http://www.amazon.com/How-Learning-Works-Research-Based-Principles/dp/0470484101/">How Learning Works</a></em> and read it <em>before</em> coming to the workshop.
</p>

<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>

<strong>Wednesday November 12</strong><br><br>

09:00: Welcome and overview <br>
09:30: Three stages of cognitive development <br>
10:45: break <br> 
11:00: Formative vs. summative assessment <br>
12:30: lunch <br>
13:30: Teaching as a performance art (1) <br>
14:30: break <br>
14:45: Motivation and demotivation <br>
15:45: Wrapping up <br>
16:00: close <br>
<br>

<strong>Thursday November 13</strong><br><br>

  09:00: Recap of day 1 <br>
  09:15: Teaching as a performance art (2) <br>
  10:45: break <br>
  11:00: Overview of existing lesson materials <br>
  12:30: lunch <br>
  13:30: Group project <br>
  14:30: break <br>
  14:45: Lightning lessons (1) <br>
  15:45: Wrapping up <br>
  16:00: close <br>
<br>

<strong>Friday November 14</strong><br><br>
  09:00: Recap of day 2 <br>
  09:15: Lightning lessons (2) <br>
  10:45: break <br>
  11:00: CS education research <br>
  12:00: lunch <br>
  13:30: Assessment revisited <br>
  14:30: break <br>
  14:45: Wrapping up <br>
  15:30: close <br>
 <br>

<ul>
  <li>
    Please arrive by 8:45 each morning so that we can start promptly.
  </li>
  <li>
    Unfortunately,
    while we can supply coffee and snacks,
    we are unable to cover the cost of lunch and dinner.
  </li>
</ul>
